<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title id="batata">
      Tipos de Batata 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
<ion-list>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Batata-doce</ion-card-title>
  </ion-card-header>
  <ion-img class="foto" src="assets/icon/doce.png"></ion-img>
  <ion-card-content>
    Diferentemente da batata-inglesa, que é um tubérculo (caule subterrâneo), a batata-doce é uma raiz rica em fibras, de polpa branca e cremosa e sabor adocicado. Carlos Ribeiro conta que na Paraíba, sua terra natal, a variedade roxa é servida cozida, frita com manteiga ou como doce. “No meu restaurante, faço um purê com ela”, diz.
  </ion-card-content>
  <ion-button class="botato" href="https://pt.wikipedia.org/wiki/Batata-doce">Wiki</ion-button>
</ion-card>

<ion-progress-bar type="indeterminate"></ion-progress-bar>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Monalisa</ion-card-title>
  </ion-card-header>
  <ion-img class="foto" src="assets/icon/mona.png"></ion-img>
  <ion-card-content>
    É a variedade mais plantada no país. Tem formato oval e alongado, com polpa e casca amarelo-claro. Apresenta boa consistência quando cozida e é indicada para o preparo de purês e saladas.
  </ion-card-content>
  <ion-button class="botato" href="https://pt.wikipedia.org/wiki/Batata">Wiki</ion-button>
</ion-card>

<ion-progress-bar type="indeterminate"></ion-progress-bar>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Asterix</ion-card-title>
  </ion-card-header>
  <ion-img class="foto" src="assets/icon/aste.png"></ion-img>
  <ion-card-content>
    De formato oval e comprido, tem casca avermelhada e polpa amarelo-claro. Resiste relativamente bem ao congelamento. “É muito boa para fritar, principalmente com casca”, ensina Ribeiro. “Como tem menos água que outras variedades, é excelente para purês. No nhoque, é nota 10.”
  </ion-card-content>
  <ion-button class="botato" href="https://www.livup.com.br/ingredientes/batata-asterix">Wiki</ion-button>
</ion-card>

<ion-progress-bar type="indeterminate"></ion-progress-bar>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Yacon</ion-card-title>
  </ion-card-header>
  <ion-img class="foto" src="assets/icon/yacon.png"></ion-img>
  <ion-card-content>
    Muito apreciado no Japão, esse tubérculo ganhou no Brasil o apelido de batata diet, por apresentar baixo teor calórico. Com sabor delicado, que lembra pera, é consumido cru. Suas folhas são indicadas para o tratamento do colesterol e diabetes. “Os japoneses também o utilizam na produção de macarrão”, diz o chef.
  </ion-card-content>
  <ion-button class="botato" href="https://pt.wikipedia.org/wiki/Yacon">Wiki</ion-button>
</ion-card>

<ion-progress-bar type="indeterminate"></ion-progress-bar>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Bolinha</ion-card-title>
  </ion-card-header>
  <ion-img class="foto" src="assets/icon/bolonha.png"></ion-img>
  <ion-card-content>
    Trata-se da batata-inglesa em dimensões reduzidas. “Como é pequena e delicada, torna-se ideal para conservas, marinadas e acompanhamentos”, explica o chef do Na Cozinha.
  </ion-card-content>
  <ion-button class="botato" href="https://caras.uol.com.br/arquivo/batata-bolinha.phtml">Wiki</ion-button>
</ion-card>

<ion-progress-bar type="indeterminate"></ion-progress-bar>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Batata-Baroa</ion-card-title>
  </ion-card-header>
  <ion-img class="foto" src="assets/icon/baroa.png"></ion-img>
  <ion-card-content>
    A famosa mandioquinha, de origem andina, é fina e comprida, com casca e polpa bem amarelas. Seu amido é facilmente digerido e por isso é indicada na alimentação de crianças e convalescentes. “É excelente no preparo de purês e de sopas”, ensina Ribeiro.
  </ion-card-content>
  <ion-button class="botato" href="https://pt.wikipedia.org/wiki/Mandioquinha">Wiki</ion-button>
</ion-card>
</ion-list>
</ion-content>
